.App {
    text-align: center;
    background-color: #4848b6;
    color: white;
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-wrap: wrap;
    padding: 14px;
  }
  
  h1{
    margin: 0;
    color: #fff;
    text-align: center;
    background: #4848b6;
    padding: 10px;
  }

  h2{
    color: black;
    font-size: 60px;
  }

  .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn{
    background-color: blue;
    color: white;
    padding: 5px;
    margin: 5px;
  }

  h4{
    color: black;
  }

  .key{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
  }

  .comA{
    background-color: red;
    margin: 15px;
    padding: 15px;
  }

  .comB{
    background-color: #65be29;
    margin: 15px;
    padding: 15px;
  }

  .comC{
    background-color: #ff00d7;
    margin: 15px;
    padding: 15px;
  }